body{
    background-color:#EBFFEB;
    font-size:18px;
}

img {
    width: 550px;
}

.jumbotron{
    background: url(https://www.publicdomainpictures.net/pictures/10000/velka/pool-water-texture-11279304157Audq.jpg)
}